<!DOCTYPE html>
<meta charset="-8" utf>
<head>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel='stylesheet' href="./css/menucadjogo.css">
    <script src="./js/jquery.js"></script>
    <title>Menu Principal</title>
    
</head>
<body class="imagem">
    <div class="">
    
    </div>
    <h1 class='menu'>
        <button class='myButton' id='botoes'>Nome Usuario</button>
        <button class='myButton' id='botoes'>Usuarios</button>
        <button class='myButton' id='botoes'>Cadastrar Jogo</button>
        <button class='myButton' id='botoes'>Sair</button>
        
    </h1>
<div class="root">
    
    <div id="navigator">
        <nav>
            <h1 id="titulo">Navegador</h1>
            <div id="linha"></div>
            <p id="pNav">Filtro de Jogos Cadastradoss</p>
            <div id="linha"></div>
            <p id='pNav'>Filtros</p>
            <div id="Filtros">              
                <div>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' > Favoritos </label>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >Ação   </label>
                </div>
                
                    
                <div>                
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >Aventura </label>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >RPG </label>
                </div>

            </div>
            <div class="barraPesquisa">
                <!-- <p id='pNav'>Pesquisar</p> -->
                <input type="text" id="pesquisar"></input>
                <button class='myButton2' id='botoes' >Voltar</button>
            </div>
        </nav>
    </div>
    
    <div class="postDiv">
      <div class='post'>
            
      <div class='postCard'>
        <h1>Instruções</h1>
            
        </div>
        
        
        
        </div>
        
    </div>
    
    
</div>
    <div id="divsoriaS"></div>
    <div class='jogos'>
        <div id="JogoView">
            <h1 id='JH1'>Jogo</h1>
        </div>
    </div>
</div>
<script src="./js/menu.js"></script>
</body>

