<!DOCTYPE html>
<meta charset="-8" utf>
<head>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel='stylesheet' href="./css/menu.css">
    <script src="./js/jquery.js"></script>
    <title>Menu Principal</title>
    
</head>
<body class="imagem">
    <div class="">
    <div id='modalAlign'>
        <div class='modal' id="abrir">
            <h1 id="modalTitulo">  </h1>
            <label id="fechar">X</label>
            
        </div>
    </div>
    <h1 class='menu'>
        <button class='myButton' id='botoes'>Nome Usuario</button>
        <button class='myButton' id='botoes'>Usuarios</button>
        <button class='myButton' id='botoes'>Cadastrar Jogo</button>
        <button class='myButton' id='abrir2' >Postar</button>
        <button class='myButton' id='botoes'>Sair</button>
        
    </h1>
<div class="root">
    
    <div id="navigator">
        <nav>
            <h1 id="titulo">Navegador</h1>
            <div id="linha"></div>
            <p id="pNav">Filtro de Jogos</p>
            <div id="linha"></div>
            <p id='pNav'>Generos</p>
            <div id="Filtros">
               
                <div>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' > Favoritos </label>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >Ação   </label>
                </div>
                
                    
                <div>                
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >Aventura </label>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >RPG </label>
                </div>

            </div>
            <div class="barraPesquisa">
                <p id='pNav'>Pesquisar</p>
                <input type="text" id="pesquisar"></input>
                <button class='myButton2' id='botoes' >Limpar</button>
            </div>
        </nav>
    </div>
    
    <div class="postDiv">
      <div class='post'>
            <div id='postuser'>
                <p id='User'>Adminstrador Master</p>
                <p>Versão do Site: Beta</p>
                <p>Data: 01/06/2019</p>
                
            </div>
            <div id='postuser'>
                <img id='imgteste' src="imagens/admin.jpg">
            </div>
                
        </div>
      <div class='postCard'>
          <h1 id='cardTitulo'>Notas de Atualização</h1>
            <p id="textoCard">
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste  Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste   Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
           
        </div>
    </div>
    
    
</div>
    <div id="divsoriaS"></div>
    <div class='jogos'>
        <div class="cardGames">
           
            <div class='card'>
                <label>Super Mario Atari</label></br>
                <input type="checkbox"  id="seletores">
                    <label >Favoritar</label>

            </div>
            <button class='myButton3' id='botoes'>  Jogar</button>
        </div>
    </div>
</div>
<script src="./js/menu.js"></script>
</body>
