<!DOCTYPE html>
<meta charset="-8" utf>
<head>
    <link rel="stylesheet" href="./css/reset.css">
    <link rel='stylesheet' href="./css/menu.css">
    <script src="./js/jquery.js"></script>
    <title>Menu Principal</title>
    
</head>
<body class="imagem">
    <div class="">
    <div id='modalAlign'>
        <div class='modal' id="abrir">
            <h1 id="modalTitulo"> Nova Nota de Atualização </h1>
            <div id='linha'></div>
            <p id='attP'>Titulo</p>

            <input type="text" name='linha1' class="linhasinput"></input>
            <div id='linha'></div>
            <p id='attP'>Notas de Atualização</p>
            <textarea class='areainput'name="message" rows="12" cols="90"></textarea>
            <!-- <input type="text" name='linha1' data-ls-module="charCounter" maxlength='138' class="linhasinput"></input> -->
            <!-- <input type="text" name='linha2' class="linhasinput"></input>
            <input type="text" name='linha3' class="linhasinput"></input>
            <input type="text" name='linha4' class="linhasinput"></input>
            <input type="text" name='linha5' class="linhasinput"></input>
            <input type="text" name='linha6' class="linhasinput"></input>
            <input type="text" name='linha7' class="linhasinput"></input>
            <input type="text" name='linha8' class="linhasinput"></input>
            <input type="text" name='linha9' class="linhasinput"></input>
            <input type="text" name='linha10' class="linhasinput"></input>
            <input type="text" name='linha11' class="linhasinput"></input> -->
            <!-- <input type='textarea' name='linha2'> -->
            <div id='linha'></div>
            <button class='myButton4' id='botoes'>Postar</button>
        </div>
    </div>
    <h1 class='menu'>
        <button class='myButton' id='botoes'>Nome Usuario</button>
        <button class='myButton' id='botoes'>Usuarios</button>
        <button class='myButton' id='botoes'>Cadastrar Jogo</button>
        <button class='myButton' id='abrir2' >Postar</button>
        <button class='myButton' id='botoes'>Sair</button>
        
    </h1>
<div class="root">
    
    <div id="navigator">
        <nav>
            <h1 id="titulo">Navegador</h1>
            <div id="linha"></div>
            <p id="pNav">Filtro de Jogos</p>
            <div id="linha"></div>
            <p id='pNav'>Generos</p>
            <div id="Filtros">
               
                <div>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' > Favoritos </label>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >Ação   </label>
                </div>
                
                    
                <div>                
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >Aventura </label>
                    <input type="checkbox"  id="seletores"  value="TESTE">
                    <label id='seletorestext' >RPG </label>
                </div>

            </div>
            <div class="barraPesquisa">
                <p id='pNav'>Pesquisar</p>
                <input type="text" id="pesquisar"></input>
                <button class='myButton2' id='botoes' >Limpar</button>
            </div>
        </nav>
    </div>
    
    <div class="postDiv">
      <div class='post'>
            <div id='postuser'>
                <p id='User' >Adminstrador Master</p>
                <p>Versão do Site: Beta</p>
                <p>Data: 01/06/2019</p>
                
            </div>
            <div id='postuser'>
                <img id='imgteste' src="imagens/admin.jpg">
            </div>
                
        </div>
      <div class='postCard'>
          <h1 id='cardTitulo'>Notas de Atualização</h1>
            <p id="textoCard">
                Teste Teste Teste Teste Teste  Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste   Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
            <p id='textoCard'></p>
                Teste Teste Teste Teste Teste Teste Teste Teste Teste Teste 
            </p>
           
        </div>
    </div>
    
    
</div>
    <div id="divsoriaS"></div>
    <div class='jogos'>
        
        <div class="cardGames">
                <label class='tituloCard'>Super Mario Atari</label></br>
            <div class='card'>
                <!-- <img id='imgCard'src='./imagens/marioPre.png'> -->
                    
            </div>

            </div>
           <div class='PButao'>
                <input type="checkbox"  id="seletores">Favoritar
                
                <div class='alinha'>
                    <button class='myButton3' id='botoes'>  Jogar</button>
                </div>
                </div>
                        
            
        </div>
    </div>
</div>
<script src="./js/menu.js"></script>
</body>
